 /* @media (min-width: @screen-sm-min)
{

}


@media (min-width: @screen-md-min)
{

}


@media (min-width: @screen-lg-min)
{

 } */
 #titre
{
  color:red;
  font-size: 60px;
  text-align: center;
}

/* Pagination links */
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

/* Add a grey background color on mouse-over */
 .pagination a:hover:not(.active) {background-color: #ddd;}

#FiveFingers{
  text-align: center;
}
.main-footer{
text-align: center;
}
.panel-body img{
width: 400px;
right: 50%;
}
.panel-body{
  background-color: black;
}
.panel-heading{
  text-align: center;
  font-size: 40px;
  color: white;
  background-color: black;
}

.jumbotron {
  background-color: black;
}
body{
  background-color: black;
}
#panelOne{
  display: inline-block;
  width: 50%;
  text-align: center;
}
#panelTow{
  display: inline-block;
  width: 49%;
  text-align: center;
}
